body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  text-align: center; 
}


header {
  background: #0a6d3b;
  color: #fff;
  padding: 15px;
}


nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  margin: 0 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content */
main {
  padding: 20px;
}

/* Image (banner) */
.hero-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  padding: 10px;
}
